<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collaboportal.common.login.mapper.LoginMapper">

  <resultMap id="UserWithProjectMap"
             type="com.collaboportal.common.login.model.DTO.UserMasterEPL"
             autoMapping="false">
    <id     property="userId"    column="I_USER_ID"/>
    <result property="password"  column="I_USER_PWD"/>
    <result property="role"      column="I_ROLE"/>
    <result property="projectId" column="I_KIKAKU_ID" jdbcType="INTEGER"/>
  </resultMap>

  <select id="findUserByUserId"
          parameterType="java.lang.String"
          resultMap="UserWithProjectMap">
    SELECT TOP (1)
      I_USER_ID,
      I_USER_PWD,
      I_ROLE,
      I_KIKAKU_ID
    FROM sp_nohin.MS_DOKUJI_AUTH WITH (NOLOCK)
    WHERE I_USER_ID = #{userId}
    ORDER BY I_KIKAKU_ID ASC   
  </select>

</mapper>
