<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="logLevel" value="${util.log.level:-INFO}"/>

    <property name="sqlLogLevel" value="${util.sql.log.level:-DEBUG}"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="com.collaboportal.common.filter.SensitiveDataMaskingFilter"/>
        <encoder class="com.collaboportal.common.encoder.SensitiveDataMaskingEncoder">

            <charset>UTF-8</charset>
            <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tlevel:%-5level\tX-Track:%X{X-Track}\tipAddress:%X{ipAddress}\tTrackingCookie:%X{trackingCookieValue}\tlogger:%logger\tMessage: %msg%n]]></pattern>
            <enableMasking>true</enableMasking>
            <preserveOriginalMessage>false</preserveOriginalMessage>
        </encoder>
    </appender>


    <logger name="com.collaboportal.common"   level="${logLevel}" additivity="true"/>
    <logger name="com.collaboportal.spnohin" level="${logLevel}" additivity="true"/>

 
    <logger name="org.apache.ibatis"                                      level="${sqlLogLevel}" additivity="true"/>
    <logger name="org.mybatis"                                            level="${sqlLogLevel}" additivity="true"/>
    <logger name="org.springframework.jdbc.core"                          level="${sqlLogLevel}" additivity="true"/>
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils"    level="${sqlLogLevel}" additivity="true"/>

    <root level="${logLevel}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
